<div class="m-tab-panel js-tab-panel js-tab-panel-character">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Name</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-100">
          <div class="m-input-block m-input-block-large js-input-block js-basics-character-name" data-input-block-options="path:basics.character.name">
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-character-name" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.character.tagline">
            <label class="m-input-block-label js-input-block-label" for="basics-character-tagline">Tagline</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-character-tagline" type="text" tabindex="1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Details</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-12">
          <div class="m-select-block js-select-block js-size" data-select-block-options="path:basics.character.size.category">
            <label class="m-select-block-label js-select-block-label" for="basics-character-size-category">Size</label>
            <select class="m-select-block-dropdown u-full-width js-select-block-dropdown js-tip" id="basics-character-size-category" data-tip-options="message:Size Modifiers are automatically applied to Attack Stats, Armor Class, Combat Maneuver Bonus, Combat Maneuver Defense, Fly and Stealth skills.,state:focus"
              tabindex="1">
              <option></option>
              <option value="Fine">Fine</option>
              <option value="Diminutive">Diminutive</option>
              <option value="Tiny">Tiny</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="Huge">Huge</option>
              <option value="Gargantuan">Gargantuan</option>
              <option value="Colossal">Colossal</option>
            </select>
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.character.race">
            <label class="m-input-block-label js-input-block-label" for="basics-character-race">Race</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-character-race" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.character.gender">
            <label class="m-input-block-label js-input-block-label" for="basics-character-gender">Gender</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-character-gender" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.character.age">
            <label class="m-input-block-label js-input-block-label" for="basics-character-age">Age</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-character-age" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.character.height">
            <label class="m-input-block-label js-input-block-label" for="basics-character-height">Height</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-character-height" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-8">
          <div class="m-input-block js-input-block" data-input-block-options="path:basics.character.weight">
            <label class="m-input-block-label js-input-block-label" for="basics-character-weight">Weight</label>
            <input class="m-input-block-field u-full-width js-input-block-field" id="basics-character-weight" type="text" tabindex="1">
          </div>
        </div>
        <div class="m-edit-box-item-12 m-edit-box-group">
          <div class="m-edit-box-item">
            <div class="m-input-block js-input-block" data-input-block-options="path:basics.karma.total,type:integer,minimum:#0,noZero:true">
              <label class="m-input-block-label js-input-block-label" for="basics-karma-total">Karma</label>
              <input class="m-input-block-field u-full-width u-text-center js-input-block-field" id="basics-karma-total" type="number" tabindex="1">
            </div>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-check">
            <div class="m-check-block js-check-block" data-check-block-options="path:basics.senses.emerged">
              <label class="m-check-block-label" for="basics-senses-emerged">Emerged</label>
              <input class="m-check-block-check js-check-block-input js-image-background-average" type="checkbox" id="basics-senses-emerged" name="basics-senses-emerged" tabindex="1">
              <span class="m-check-block-check-icon"></span>
            </div>
          </div>
          <div class="m-edit-box-item-check">
            <div class="m-check-block js-check-block" data-check-block-options="path:basics.senses.awakened">
              <label class="m-check-block-label" for="basics-senses-awakened">Awakened</label>
              <input class="m-check-block-check js-check-block-input js-image-background-average" type="checkbox" id="basics-senses-awakened" name="basics-senses-awakened" tabindex="1">
              <span class="m-check-block-check-icon"></span>
            </div>
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <div class="m-textarea-block js-textarea-block" data-textarea-block-options="path:basics.character.description">
            <label class="m-textarea-block-label js-textarea-block-label" for="basics-character-description">Description</label>
            <div id="basics-character-description" class="m-textarea-block-field textarea textarea-large u-full-width js-textarea-block-field" contentEditable="true" tabindex="1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="m-tab-panel js-tab-panel js-tab-panel-character-image is-hidden">

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Image</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item">
          <div class="m-character-image-preview js-image-preview">
            <span class="m-character-image-placeholder icon-person"></span>
            <span class="m-character-image-background js-image-background"></span>
            <span class="m-character-image-preview-guide"></span>
          </div>
        </div>
      </div>
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item">
            <div class="m-input-file-block">
              <label class="m-input-file-block-label u-inline-with-input" for="character-image" tabindex="1">
                <span class="icon-file-upload"></span><span class="m-input-file-block-label-text">Select an image</span>
              </label>
              <input id="character-image" type="file" class="m-input-file-block-field js-image-input">
            </div>
          </div>
          <div class="m-edit-box-item-button-md">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-large button-icon button-slim js-image-clear" tabindex="1"><span class="icon-close"></span></a>
          </div>
        </div>
        <div class="m-edit-box-item-100">
          <p class="m-edit-box-description">Drag image to reposition. Max width 2000px, max height 2000px. Max image size 500KB, (due to browser local storage limits).</p>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-labels m-edit-box-indent m-edit-box-head-small">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Size &amp; Position</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content m-edit-box-content-margin-large">
        <div class="m-edit-box-item-16">
          <div class="m-character-image-control-scale">
            <div class="m-input-range-block js-input-range-block" data-input-range-block-options="path:basics.image.scale,type:integer">
              <label class="m-input-range-block-label js-input-range-block-label" for="basics-image-scale">Scale (%)</label>
              <input class="m-input-range-block-field u-full-width js-input-range-block-field js-image-scale-input" id="basics-image-scale" type="range" min="50" max="400" tabindex="1">
            </div>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-image-scale-cover js-tip" data-tip-options="message:Scale and clip the image to fill the preview.,state:hover" tabindex="1"><span class="button-text">Cover</span></a>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-image-scale-contain js-tip" data-tip-options="message:Scale the image to show all of it.,state:hover" tabindex="1"><span class="button-text">Contain</span></a>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-image-scale-center js-tip" data-tip-options="message:Align the image to the center of the preview.,state:hover" tabindex="1"><span class="button-text">Center</span></a>
          </div>
        </div>
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-image-scale-top js-tip" data-tip-options="message:Align the image to the top of the preview.,state:hover" tabindex="1"><span class="button-text">Top</span></a>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-image-scale-bottom js-tip" data-tip-options="message:Align the image to the bottom of the preview.,state:hover" tabindex="1"><span class="button-text">Bottom</span></a>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-image-scale-left js-tip" data-tip-options="message:Align the image to the left of the preview.,state:hover" tabindex="1"><span class="button-text">Left</span></a>
          </div>
          <div class="m-edit-box-item">
            <a href="javascript:void(0)" class="u-inline-with-input u-no-margin button button-medium js-image-scale-right js-tip" data-tip-options="message:Align the image to the right of the preview.,state:hover" tabindex="1"><span class="button-text">Right</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-edit-box m-edit-box-indent m-edit-box-head-small m-edit-box-labels">
    <div class="m-edit-box-head">
      <div class="m-edit-box-content m-edit-box-content-nowrap m-edit-box-content-margin-large">
        <div class="m-edit-box-item-shrink">
          <h2 class="m-edit-box-title">Background</h2>
        </div>
      </div>
    </div>
    <div class="m-edit-box-body">
      <div class="m-edit-box-content">
        <div class="m-edit-box-item m-edit-box-group">
          <div class="m-edit-box-item-check">
            <div class="m-radio-block js-radio-block" data-radio-block-options="path:basics.image.background">
              <label class="m-radio-block-label" for="basics-image-background-average">Average</label>
              <input class="m-radio-block-radio js-radio-block-input js-image-background-average" type="radio" id="basics-image-background-average" name="basics-image-background" value="average" tabindex="1" checked>
              <span class="m-radio-block-radio-icon"></span>
            </div>
          </div>
          <div class="m-edit-box-item-check">
            <div class="m-radio-block js-radio-block" data-radio-block-options="path:basics.image.background">
              <label class="m-radio-block-label" for="basics-image-background-black">Black</label>
              <input class="m-radio-block-radio js-radio-block-input js-image-background-black" type="radio" id="basics-image-background-black" name="basics-image-background" value="black" tabindex="1">
              <span class="m-radio-block-radio-icon"></span>
            </div>
          </div>
          <div class="m-edit-box-item-check">
            <div class="m-radio-block js-radio-block" data-radio-block-options="path:basics.image.background">
              <label class="m-radio-block-label" for="basics-image-background-white">White</label>
              <input class="m-radio-block-radio js-radio-block-input js-image-background-white" type="radio" id="basics-image-background-white" name="basics-image-background" value="white" tabindex="1">
              <span class="m-radio-block-radio-icon"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
